<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.lucky.system.mappers.SysUserMapper">
    <select id="getNavMenuIds" resultType="java.lang.Long">
        select
            DISTINCT `rm`.`menu_id`
        from `sys_user_role` `ur`
            LEFT JOIN `sys_role_menu` `rm` ON `ur`.`role_id` = `rm`.`role_id`
        where `ur`.`user_id` = #{userId}
    </select>

    <select id="getNavMenu" resultType="java.lang.Long">
        select
            DISTINCT `rm`.`menu_id`
        from `sys_user_role` `ur`
            LEFT JOIN `sys_role_menu` `rm` ON `ur`.`role_id` = `rm`.`role_id`
            left join `sys_menu` `sm` on `sm`.`id` = `rm`.`menu_id`
        where `ur`.`user_id` = #{userId} and `sm`.`type` in (0,1)
    </select>

    <select id="listByMenuId" resultType="com.happy.lucky.system.domain.SysUser">
        SELECT
            DISTINCT `su`.*
        FROM `sys_user_role` `ur`
            LEFT JOIN `sys_role_menu` `rm` ON `ur`.`role_id` = `rm`.`role_id`
            RIGHT JOIN `sys_user` `su` ON `ur`.`user_id` = `su`.`id`
        WHERE `rm`.`menu_id` = #{menuId}
    </select>
</mapper>